In [1]:
#import packages
import pandas as pd
from pybaseball import pitching_stats

In [4]:
#Gather all qualified pitchers from 2000 to 2019
qualified_pitchers = pitching_stats(2000, 2019)

qualified_pitchers

,IDfg,Season,Name,Team,Age,W,L,WAR,ERA,G,...,LA,Barrels,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xERA
50,60,2001,Randy Johnson,ARI,37,21,6,10.4,2.49,35,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
78,60,2000,Randy Johnson,ARI,36,19,7,9.6,2.64,35,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
70,60,2004,Randy Johnson,ARI,40,16,14,9.6,2.60,35,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0.178,0.326,NaN
2,200,2000,Pedro Martinez,BOS,28,18,6,9.4,1.74,29,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
305,73,2002,Curt Schilling,ARI,35,23,7,9.3,3.23,36,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0.173,0.319,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1520,107,2003,Damian Moss,- - -,26,10,12,-0.6,5.16,31,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0.153,0.236,NaN
1518,3200,2012,Ervin Santana,LAA,29,9,13,-0.8,5.16,30,...,NaN,0.0,NaN,NaN,0.0,NaN,0,0.176,0.260,NaN
1613,7059,2016,James Shields,- - -,34,6,19,-1.0,5.85,33,...,12.8,46.0,0.077,115.8,198.0,0.332,597,0.153,0.245,NaN
1625,569,2001,Dave Mlicki,- - -,33,11,11,-1.3,6.17,34,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1492,978,2011,Bronson Arroyo,CIN,34,9,12,-1.6,5.07,32,...,NaN,0.0,NaN,NaN,0.0,NaN,0,0.191,0.250,NaN

In [5]:
#Get every pitcher that appears in the dataframe
unique_pitchers_arr = qualified_pitchers.Name.unique()
unique_pitchers = pd.DataFrame(unique_pitchers_arr, columns= ['Name'])

unique_pitchers

               Name
0     Randy Johnson
1    Pedro Martinez
2    Curt Schilling
3      Jacob deGrom
4      Roy Halladay
..              ...
464    Hector Noesi
465      Matt Chico
466  Wayne Franklin
467   Brandon Backe
468     Dave Mlicki

[469 rows x 1 columns]